*, :after, :before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

:root{
    --body-bg: #FAF8F0;
    --primary-bg: #043353;
    --light-color: var(--body-bg);
    --secondary-bg: #179CD5;
    --primary-color: #000;
    --secondary-color: #fff;
    --attention-color: #F2994A;
    --vidget-shadow: rgba(0, 0, 0, 0.25);
    --vidget-x-offset: 24px;

}
/* 
.box{
    background: var(--primary-bg);
} */

.layer{
    position: fixed;
    inset: 0;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
    z-index: 9999;
}

.layer--open{
    opacity: .6;
    pointer-events: auto;
}

.vidget {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 420px;
    box-shadow: -4px 0px 4px var(--vidget-shadow);
    /* overflow: auto; */
    background-color: var(--secondary-bg);
    display: flex;
    flex-direction: column;
    transition: translate .2s ease, opacity .2s ease;
    transform: translateX(100%);
    opacity: 0;
    z-index: 10000;
}

.vidget--open {
    transform: translateX(0);
    opacity: 1;
}

.vidget__header {
    padding: 16px var(--vidget-x-offset);
    border-radius:  0px 0px 8px 8px;
    background-color: var(--primary-bg);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.vidget__avatar {
    height: 68px;
    width: 68px;
    flex-shrink: 0;
    margin-right: 16px;
    position: relative;
}

.vidget__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.vidget__name {
    font-size: 18px;
    color: var(--light-color);
    line-height: 28px;
}

.vidget__info {
    font-size: 14px;
    color: var(--attention-color);
    line-height: 16px;
}

.vidget__avatar:after {
    content: "";
    width: 100%;
    height: 100%;
    border: 8px solid var(--primary-bg);
    opacity: 0.3;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.vidget__avatar--status:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #BB6BD9;
    border: 3px solid var(--primary-bg);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 6px;
    z-index: 1;
}

.vidget__close {
    width: 24px;
    height: 24px;
    margin-left: auto;
    align-self: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.vidget__icon {
    width: 24px;
    height: 24px;
    color: #fff;
}



.vidget__content {
    background-color: var(--secondary-bg) ;
    padding: 32px 24px;
    /* margin-bottom: 24px; */  
    flex-grow: 1;  
    display: flex;
    flex-direction: column;
}


.vidget__wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}


.vidget__wrap:after {
    content: '';
    position: absolute;
    inset: auto 1px 1px 1px;
    height: 170px;
    background: linear-gradient(180deg, rgba(250, 248, 240, 0.51) 0%, #FAF8F0 81.25%);
    border-radius: 0 0 8px 8px;
    pointer-events: none;
}



.vidget__body {
    border: 1px solid #000;
    padding: 20px 22px;
    background-color: var(--secondary-color) ;
    border-radius: 8px;
    /* margin-bottom: 16px; */
    height: 0;
    overflow: auto;
    flex-grow: 1;
}



.vidget__dialog {

}


.vidget__dialog-user {
    display: flex;
    justify-content: space-between;
}

.vidget__dialog-name {
    font-size: 24px;
    color: #000;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vidget__dialog-date {
    font-size: 14px;
    color: #043353;
    opacity: 0.5;
    line-height: 32px;
    font-weight: 500px;
}

.vidget__dialog-text {
    font-size: 18px;
    color: #000;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 32px;
}

.vidget__form {
    border: 1px solid #043353;
    border-radius: 8px;
    padding: 30px 21px;
    background-color: var(--secondary-color);
    flex-shrink: 0;
    margin-top: 16px;
}

.form__group {
    margin-bottom: 8px;
}

.form__group:last-child {
    margin-bottom: 0;
}

.form__group--btn {
    display: flex;
}


.form__input {
    border: 1px solid var(--primary-bg);
    font-size: 14px;
    line-height: 28px;
    padding: 8px 13px;
    width: 100%;
    transition: border-color .2s ease;
    outline: none;
    border-radius: 8px;
    color: var(--primary-bg);
}

.form__group--btn .form__input{
    border-radius: 8px 0 0 8px;
}

.form__input:hover, .form__input:focus {
    border-color: var(--attention-color);
}

.form__input::placeholder {
    color: #7F96A2;
}

.form__input::-moz-placeholder {
    color: #7F96A2;
    opacity: 1;
}

.form__input:-moz-placeholder {
    color: #7F96A2;
    opacity: 1;
}


.form__button {
    background-color: var(--primary-bg);
    font-size: 12px;
    line-height: 12px;
    color: var(--light-color);
    text-transform: uppercase;
    padding: 16px;
    padding-right: 24px;
    padding-left: 25px;
    border: 1px solid var(--primary-bg);
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}

.vidget__footer {
    background-color: var(--primary-bg);
    border: 1px solid #000;
    border-radius: 8px 8px 0 0;
    padding: 28px 0;
    flex-shrink: 0;
}

.vidget__social {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.vidget__social-item {
    margin-right: 16px;
}

.vidget__social-item:last-child {
    margin-right: 0;
}

.vidget__social-icon {
    width: 24px;
    height: 24px;
    color: #fff;
    display: block;
}



